langchain
langchain-google-genai
google-genai
python-dotenv
sentence-transformers
langgraph
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith>=0.2.0
langchain-community
langchain-core
langchain-openai
notebook
lxml
scikit-learn
pandas
pyarrow
langgraph-prebuilt
tavily-python
wikipedia
trustcall
langgraph-cli[inmem]
